<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Basic Information -->
    <h1>About Katie Baek</h1>
    <h2>Education</h2>
    <div class="logo">
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith logo">
    </div>
    <p>Student at the <strong>University of Maryland</strong></p>
    <p>Majors: <em>Marketing</em> and <em>Information Systems</em></p>
<!-- table requirement -->
    <table>
        <tr>
            <th>Courses</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT408V</td>
            <td>Spring 2023</td>
        </tr>
    </table>
<!-- hyperlink hello page-->
    <p>I am currently taking BMGT407</p>
    <p>Check out my first<a href="/hello"> HTML page</a>!</p>


    <h2>Interests</h2>
    <p>My favorite band is <strong>COIN</strong></p>
    <p>My favorite color is purple</p>
    <p>I recently bought a <em>film camera!</em></p>
<!-- list, unordered and ordered -->
    <div class="list">
    <p>A few artists I have seen live:</p>
    <ul>
        <li>COIN</li>
        <li>BTS</li>
        <li>Jeremy Zucker</li>
        <li>The 1975</li>
        <li>SZA</li>
    </ul>
    </div>

    <div class="list">
    <p>My concert lineup for 2023 so far:</p>
    <ol>
        <li>Waterparks</li>
        <li>Olivia Rodrigo</li>
        <li>LANY</li>
        <li>Head in the Clouds Festival</li>
    </ol>
    </div>

<!-- two hyperlinks-->
    <p>I love shopping at <a href="https://www.urbanoutfitters.com/" target="_blank">Urban Outfitters</a></p>
    <p>I love <a href="https://www.instagram.com/">Instagram</a>!</p>

<!-- additional paragraph for CSS module-->
    <h2>More About Me</h2>
    <p id="special-one">I worked as a "merch girl" for my friend Zeph, who opened for the band, Waterparks, on tour.
    Currently, I work at Mad Chef Kitchen and Bar and Anthropologie on the weekends.</p>

</body>
</html>